@color-active: #366cb3;
@color-bg: #f2f4fa;

.color-ac {
  color: @color-active!important;
}

.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

.pointer {
  cursor: pointer !important;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}

.ovHidden {
  overflow: hidden;
}

.forbidden {
  padding: 1px 10px;
  border: 1px solid #ffa39e;
  border-radius: 5px;
  span {
    color: #f5222d;
  }
}
.success {
  padding: 1px 10px;
  border: 1px solid #87e8de;
  border-radius: 5px;
  background: #e6fffb;
  span {
    color: #13c2c2;
  }
}
.warning {
  padding: 1px 10px;
  border: 1px solid #ffd591;
  border-radius: 5px;
  background: #fff7e6;
  span {
    color: #fa8c16;
  }
}

.startUse {
  padding: 1px 10px;
  border: 1px solid #a9c2d9;
  border-radius: 5px;
  span {
    color: #366cb3;
  }
}

//滚动条的宽度
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 10px;
  cursor: pointer;
}

.box-border {
  box-sizing: border-box;
}

// less 循环
.loop(@counter) when (@counter > 0) {
  .p-@{counter} {
    padding: (1px * @counter);
  }
  .p-t-@{counter} {
    padding-top: (1px * @counter);
  }
  .p-r-@{counter} {
    padding-right: (1px * @counter);
  }
  .p-b-@{counter} {
    padding-bottom: (1px * @counter);
  }
  .p-l-@{counter} {
    padding-left: (1px * @counter);
  }
  .m-@{counter} {
    margin: (1px * @counter);
  }
  .m-t-@{counter} {
    margin-top: (1px * @counter);
  }
  .m-r-@{counter} {
    margin-right: (1px * @counter);
  }
  .m-b-@{counter} {
    margin-bottom: (1px * @counter);
  }
  .m-l-@{counter} {
    margin-left: (1px * @counter);
  }
  .fz-@{counter} {
    font-size: (1px * @counter);
  }
  .loop((@counter - 1)); // 递归调用自身
}

.loop(200);
